<p>list-employee works!</p>

<div class="col-md-6 employee-container">
  <h2 style="margin: auto"> Employee Details</h2>
  <button class="btn btn-danger" style="width:100px" (click)="addEmployee()"> Add employee</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Address</th>
        <th>Dob</th>
        <th>Mobile</th>
        <th>City</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td class="hidden"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><button class="btn btn-success" (click)="deleteEmployee(employee)"> Delete</button>
          <button class="btn btn-success" (click)="editEmployee(employee)" style="margin-left: 20px;"> Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
